
<div style="min-height: 400px;">
  <br>
  <div class="row">
    <div class="col">
   <div class="jumbotron" style=" margin-left: 5px; margin-right: 5px; background-image: url('../../assets/images/bg2.jpg'); background-size: cover;"> 
    <!-- <img src="../../assets/brightsun.jpg" height="100%" width="100%"> -->
    <h1 class="display-4" style="font-family:sans-serif">about us...</h1>
    <p class="lead">
      Treeco India with its headquarters in Bengaluru, is a company that specializes in providing end to end solutions in renewable energy including Investment and EPC services for rooftop as well as ground mounted solar photovoltaic (PV) systems, biogas plants and wind energy systems across India with focus on Industrial & Commercial segment. </p>
    <hr class="my-4">
    <p>Specialized in these business fields and with a belief in absolute reliability, top quality and the long-term success of renewable energies, we and our team of managers, engineers and designers are looking to set new standards in the energy industry. We collaborate with the community of partners, contributing our global engineering and consultancy experience, striving for cost leadership in value chain, focusing on bettering end customer’s value.</p>
    
  </div>
  </div>
  </div>
 <br>
     <div class="row">
          <div class="col">
         <div class="jumbotron" style=" margin-left: 5px; margin-right: 5px; background-image: url('../../assets/images/bg3.jpg'); background-size: cover;"> 
          <!-- <img src="../../assets/brightsun.jpg" height="100%" width="100%"> -->
          <!-- <app-accordian></app-accordian> -->
          <div class="row">
    
            <div class="col">
              <div class="card" style="width: auto">
                <img src="../../assets/images/satgrntd.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Satisfaction guaranteed...</h5>
                  <p class="card-text">The team comprises of long-standing industry professionals with expertise in grid-connected PV project development, design, engineering, procurement, construction and operations in India and worldwide.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: auto">
                <img src="../../assets/images/stepAhead.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">A Step ahead..</h5>
                  <p class="card-text">At Treeco, our purpose is to build the world a better place to live in and hence Treeco in early 2020s is spreading its wings into electric vehicles and energy storage segment as well.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
        </div>
        </div>
</div>
  

    <br>
  
  

