<div class='container-fluid'>  
    
    <div class='col-12' style="align-items: center;">  
        <ngb-carousel class="carousel">  
            <ng-template ngbSlide>  
                <img src="../../assets/images/m1.jpg" class="carousel-img"alt="Delhi Metro">  
                <div class="carousel-caption">  
                    <h3 style="color:white ;font-weight: bold;">Vision</h3>  
                    <p style="color:white;font-weight: bold;">Treeco aims at scaling-up the transition to electric mobility to help reduce global dependency on fossil fuels.</p>
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/images/m2.jpg" class="carousel-img" alt="Bangalore Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: black ;font-weight: bold;">What we do</h3> 
                    <p style="color:black;font-weight: bold;">We provide consultancy services for all renewable energy projects, to provide cost effective and highly efficient solutions.</p> 
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/images/m6.jpg" class="carousel-img" alt="Channai Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: white;font-weight: bold;">Clean transition</h3>  
               <p style="color:white;font-weight: bold;">Treeco aims at scaling-up the transition to electric mobility to help reduce global dependency on fossil fuels.</p>
                  </div>  
            </ng-template>  
            <!-- <ng-template ngbSlide>  
                <img src="../assets/Images/m5.jpg" alt="Jaipur Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Jaipur Metro</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../assets/Images/m3.jpg" alt="Mumbai Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Mumbai Metro</h3>  
                </div>  
            </ng-template>   -->
        </ngb-carousel>  
    </div>  
  
</div>  