<nav class="navbar navbar-expand-lg navbar-light bg-lignt .navbar-inner">
  <a class="navbar-brand" href="#">
    <img src="./assets/treeCologo.jpg" alt="" width="50%" height="100%">
  </a>
  <button class="navbar-toggler"  type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon" ></span> 
    
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a class="nav-link navtext" [routerLink]="['/home'] " ><span class="fa fa-fw fa-home"></span>HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navtext" [routerLink]="['/about']">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navtext" [routerLink]="['/blog']">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navtext" [routerLink]="['/career']">CAREER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navtext" [routerLink]="['/contact']">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
