<div class="row">
  <div class="col">
 <div class="jumbotron" style=" margin-left: 5px; margin-right: 5px; background-image: url('../../assets/brightsun.jpg'); background-size: cover;"> 
  <!-- <img src="../../assets/brightsun.jpg" height="100%" width="100%"> -->
  <h1 class="display-4" style="font-family:sans-serif">Brightness of sun - empowering future</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <button class="btn btn-lg" 
    style="font-weight: bold; color: rgb(233, 222, 222);" role="button" (click)="goToPage('about')">Go Solar --></button>
  </p>
</div>
</div>
</div>
<div class="row">
  <div class="col">
    <h2 style="margin-left:20px; color: white;">  Treeco is all about...</h2>
    <app-carousel></app-carousel>
  </div>
  <div class="col">
    <h2 style="margin-left:20px; color: white;">  Why Renewable?</h2>
    <iframe width="560" height="200" src="https://www.youtube.com/embed/T4xKThjcKaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

